@model IEnumerable<Camera>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Camera</th>
            <th>Specification</th>
            <th>Aangemaakt op</th>
            <th>xCoords</th>
            <th>yCoords</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="20%">@obj.Location</td>
                <td width="20%">@obj.Specification</td>
                <td width="20%">@obj.CreatedOn</td>
                <td width="20%">@obj.xCoords</td>
                <td width="20%">@obj.yCoords</td>
            </tr>
        }
    </tbody>
</table>